@CHARSET "UTF-8";
.menu  { float: left; padding: 20px; width: 160px; }
.body  { margin-left: 200px; padding: 20px; border-left: 1px solid silver;}
.title { border-bottom: 1px solid silver; padding: 20px;}
td,th  { padding-right: 15px;}